*{
    box-sizing: boder-box;
    font-size: small;
    font-style:inherit;
    font-weight: 400;
}

#container{
    width: auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    background-color: rgba(240, 240, 235, 0.927);
}

.signup_title{
    font-size: larger;
    font-style: oblique;
}
form{
    
    padding: 10px;
    border: 1px solid #f5f2f5;
    border-radius: 15px;
    
}

.signup_title{
    text-align: center;

}

.table{
    width: 300px;
    margin: auto;
}
th{
    width: 40%;
    text-align: left;
    padding: 5px;
}
td{
    width: 50%;
    text-align: letf;
    padding: 5px;
}

input[type='radio']{
    width: initial;
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
    width: 100%; 
    margin-right: 60px;
}

textarea{
    resize: none;
    width: 200px;
    min-height: 80px;
}
